.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.25vw;
}

.btn-on {
  background-color: blue;
  color: white;
  font-size: 3vw;
}

.btn-off {
  background-color: green;
  color: white;
  font-size: 3vw;
}
.btn-auto {
  background-color: orange;
  color: white;
  font-size: 3vw;
}

.footer {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 2vw;
}
